<window id="4">
  <defaultcontrol>50</defaultcontrol>
  <allowoverlay>no</allowoverlay>
  <controls>
    <control type="multiimage">
      <posx>0</posx>
      <posy>0</posy>
      <width>1920</width>
      <height>1080</height>
      <aspectratio>scale</aspectratio>
      <imagepath background="true">$INFO[Container(50).ListItem.Icon]</imagepath>
      <timeperimage>7000</timeperimage>
      <randomize>true</randomize>
      <fadetime>FanartCrossfadeTime</fadetime>
      <include>Animation_BackgroundFade</include>
      <include>Window_OpenClose_Animation</include>
    </control>
    <control type="group">
      <include>dialogeffect1</include>
      <control type="image">
        <description>background image</description>
        <posx>34</posx>
        <posy>34</posy>
        <width>1850</width>
        <height>1010</height>
        <texture>settings/settings_panelback.png</texture>
      </control>
      <control type="image">
        <description>Front pane for Settings panel</description>
        <posx>63</posx>
        <posy>42</posy>
        <width>1794</width>
        <height>976</height>
        <texture>settings/settings_panelfront.png</texture>
      </control>
      <control type="image">
        <posx>351</posx>
        <posy>72</posy>
        <width>1552</width>
        <height>930</height>
        <include>Window_OpenClose_Animation</include>
        <texture>settings/settings_intframe_bottom.png</texture>
      </control>
      <control type="textbox">
        <posx>480</posx>
        <posy>832</posy>
        <width>1260</width>
        <height>158</height>
        <font>Droid19</font>
        <textcolor>white</textcolor>
        <scroll>true</scroll>
        <align>center</align>
        <label>$INFO[Container(50).ListItem.Label2]</label>
      </control>
    </control>
    <control type="group">
      <include>dialogeffect1</include>
      <control type="list" id="50">
        <posx>72</posx>
        <posy>94</posy>
        <height>975</height>
        <width>375</width>
        <onup>50</onup>
        <ondown>50</ondown>
        <onfocus>Skin.Reset(bmtransit)</onfocus>
        <viewtype>list</viewtype>
        <orientation>vertical</orientation>
        <focusposition>0</focusposition>
        <scrolltime>200</scrolltime>
        <include>dialogeffect1</include>
        <visible>true</visible>
        <itemlayout width="324" height="81">
          <control type="label">
            <posx>-15</posx>
            <posy>4</posy>
            <include>Objects_SettingsSectionMenuButton</include>
            <info>ListItem.Label</info>
          </control>
        </itemlayout>
        <focusedlayout width="324" height="81">
          <control type="image">
            <posx>0</posx>
            <posy>0</posy>
            <width>324</width>
            <height>81</height>
            <texture>settings/settings_leftmenufocus.png</texture>
          </control>
          <control type="label">
            <posx>-15</posx>
            <posy>4</posy>
            <include>Objects_SettingsSectionMenuButtonFocused</include>
            <textcolor>FF262728</textcolor>
            <info>ListItem.Label</info>
          </control>
        </focusedlayout>
        <content>
          <item id="1">
            <description>My Videos</description>
            <label>54012</label>
            <label2>31401</label2>
            <icon>special://skin/backgrounds/settings.png</icon>
            <thumb>$INFO[Skin.String(CustomSettingsFolder)]</thumb>
            <onclick>ActivateWindow(VideosSettings)</onclick>
          </item>
          <item id="2">
            <description>My Music</description>
            <label>54013</label>
            <label2>31402</label2>
            <icon>special://skin/backgrounds/settings.png</icon>
            <thumb>$INFO[Skin.String(CustomSettingsFolder)]</thumb>
            <onclick>ActivateWindow(MusicSettings)</onclick>
          </item>
          <item id="12">
            <description>Live TV</description>
            <label>54014</label>
            <label2>31410</label2>
            <icon>special://skin/backgrounds/settings.png</icon>
            <thumb>$INFO[Skin.String(CustomSettingsFolder)]</thumb>
            <onclick>ActivateWindow(TVSettings)</onclick>
          </item>
          <item id="4">
            <description>My Pictures</description>
            <label>54015</label>
            <label2>31403</label2>
            <icon>special://skin/backgrounds/settings.png</icon>
            <thumb>$INFO[Skin.String(CustomSettingsFolder)]</thumb>
            <onclick>ActivateWindow(PicturesSettings)</onclick>
          </item>
          <item id="5">
            <description>My Weather</description>
            <label>54016</label>
            <label2>31404</label2>
            <icon>special://skin/backgrounds/settings.png</icon>
            <thumb>$INFO[Skin.String(CustomSettingsFolder)]</thumb>
            <onclick>ActivateWindow(WeatherSettings)</onclick>
          </item>
          <item id="6">
            <description>My Network</description>
            <label>54017</label>
            <label2>31405</label2>
            <icon>special://skin/backgrounds/settings.png</icon>
            <thumb>$INFO[Skin.String(CustomSettingsFolder)]</thumb>
            <onclick>ActivateWindow(NetworkSettings)</onclick>
          </item>
          <item id="7">
            <description>System</description>
            <label>54018</label>
            <label2>31406</label2>
            <icon>special://skin/backgrounds/settings.png</icon>
            <thumb>$INFO[Skin.String(CustomSettingsFolder)]</thumb>
            <onclick>ActivateWindow(SystemSettings)</onclick>
          </item>
          <item id="8">
            <description>Appearance</description>
            <label>54019</label>
            <label2>31400</label2>
            <icon>special://skin/backgrounds/settings.png</icon>
            <thumb>$INFO[Skin.String(CustomSettingsFolder)]</thumb>
            <onclick>ActivateWindow(AppearanceSettings)</onclick>
          </item>
          <item id="9">
            <description>Skin</description>
            <label>54020</label>
            <label2>31407</label2>
            <icon>special://skin/backgrounds/settings.png</icon>
            <thumb>$INFO[Skin.String(CustomSettingsFolder)]</thumb>
            <onclick>ActivateWindow(1111)</onclick>
          </item>
          <item id="11">
            <description>Addons</description>
            <label>54021</label>
            <label2>31408</label2>
            <icon>special://skin/backgrounds/settings.png</icon>
            <thumb>$INFO[Skin.String(CustomSettingsFolder)]</thumb>
            <onclick>ActivateWindow(AddonBrowser)</onclick>
          </item>
          <item id="10">
            <description>File Manager</description>
            <label>54022</label>
            <label2>31409</label2>
            <icon>special://skin/backgrounds/settings.png</icon>
            <thumb>$INFO[Skin.String(CustomSettingsFolder)]</thumb>
            <onclick>ActivateWindow(FileManager)</onclick>
          </item>
        </content>
      </control>
      <control type="group">
        <posx>498</posx>
        <posy>87</posy>
        <width>1260</width>
        <height>870</height>
        <control type="multiimage">
          <include>Furniture_SettingsTutorialSlide</include>
          <imagepath>tutorials/tut_movies</imagepath>
          <visible>Container(50).HasFocus(1)</visible>
        </control>
        <control type="multiimage">
          <include>Furniture_SettingsTutorialSlide</include>
          <imagepath>tutorials/tut_music</imagepath>
          <visible>Container(50).HasFocus(2)</visible>
        </control>
        <control type="multiimage">
          <include>Furniture_SettingsTutorialSlide</include>
          <imagepath>tutorials/tut_livetv</imagepath>
          <visible>Container(50).HasFocus(12)</visible>
        </control>
        <control type="multiimage">
          <include>Furniture_SettingsTutorialSlide</include>
          <imagepath>tutorials/tut_pictures</imagepath>
          <visible>Container(50).HasFocus(4)</visible>
        </control>
        <control type="multiimage">
          <include>Furniture_SettingsTutorialSlide</include>
          <imagepath>tutorials/tut_weather</imagepath>
          <visible>Container(50).HasFocus(5)</visible>
        </control>
        <control type="multiimage">
          <include>Furniture_SettingsTutorialSlide</include>
          <imagepath>tutorials/tut_network</imagepath>
          <visible>Container(50).HasFocus(6)</visible>
        </control>
        <control type="multiimage">
          <include>Furniture_SettingsTutorialSlide</include>
          <imagepath>tutorials/tut_system</imagepath>
          <visible>Container(50).HasFocus(7)</visible>
        </control>
        <control type="multiimage">
          <include>Furniture_SettingsTutorialSlide</include>
          <imagepath>tutorials/tut_appearance</imagepath>
          <visible>Container(50).HasFocus(8)</visible>
        </control>
        <control type="multiimage">
          <include>Furniture_SettingsTutorialSlide</include>
          <imagepath>tutorials/tut_addons</imagepath>
          <visible>Container(50).HasFocus(11)</visible>
        </control>
        <control type="multiimage">
          <include>Furniture_SettingsTutorialSlide</include>
          <imagepath>tutorials/tut_advanced</imagepath>
          <visible>Container(50).HasFocus(9)</visible>
        </control>
        <control type="multiimage">
          <include>Furniture_SettingsTutorialSlide</include>
          <imagepath>tutorials/tut_profiles</imagepath>
          <visible>Container(50).HasFocus(10)</visible>
        </control>
      </control>
      <control type="image">
        <posx>496</posx>
        <posy>64</posy>
        <width>1263</width>
        <height>951</height>
        <texture>settings/settings_intframe_top.png</texture>
      </control>
      <control type="group">
        <posx>9</posx>
        <posy>0</posy>
        <control type="label">
          <posx>93</posx>
          <posy>142</posy>
          <font>Droid14</font>
          <textcolor>FF262728</textcolor>
          <label>54000</label>
          <visible>Container(50).HasFocus(1)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>142</posy>
          <font>Droid14</font>
          <textcolor>white</textcolor>
          <label>54000</label>
          <visible>!Container(50).HasFocus(1)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>225</posy>
          <font>Droid14</font>
          <textcolor>FF262728</textcolor>
          <label>54000</label>
          <visible>Container(50).HasFocus(2)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>225</posy>
          <font>Droid14</font>
          <textcolor>white</textcolor>
          <label>54000</label>
          <visible>!Container(50).HasFocus(2)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>304</posy>
          <font>Droid14</font>
          <textcolor>FF262728</textcolor>
          <label>53999</label>
          <visible>Container(50).HasFocus(12)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>304</posy>
          <font>Droid14</font>
          <textcolor>white</textcolor>
          <label>53999</label>
          <visible>!Container(50).HasFocus(12)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>387</posy>
          <font>Droid14</font>
          <textcolor>FF262728</textcolor>
          <label>54002</label>
          <visible>Container(50).HasFocus(4)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>387</posy>
          <font>Droid14</font>
          <textcolor>white</textcolor>
          <label>54002</label>
          <visible>!Container(50).HasFocus(4)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>468</posy>
          <font>Droid14</font>
          <textcolor>FF262728</textcolor>
          <label>54003</label>
          <visible>Container(50).HasFocus(5)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>468</posy>
          <font>Droid14</font>
          <textcolor>white</textcolor>
          <label>54003</label>
          <visible>!Container(50).HasFocus(5)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>548</posy>
          <font>Droid14</font>
          <textcolor>FF262728</textcolor>
          <label>54004</label>
          <visible>Container(50).HasFocus(6)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>548</posy>
          <font>Droid14</font>
          <textcolor>white</textcolor>
          <label>54004</label>
          <visible>!Container(50).HasFocus(6)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>630</posy>
          <font>Droid14</font>
          <textcolor>FF262728</textcolor>
          <label>54005</label>
          <visible>Container(50).HasFocus(7)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>630</posy>
          <font>Droid14</font>
          <textcolor>white</textcolor>
          <label>54005</label>
          <visible>!Container(50).HasFocus(7)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>711</posy>
          <font>Droid14</font>
          <textcolor>FF262728</textcolor>
          <label>54006</label>
          <visible>Container(50).HasFocus(8)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>711</posy>
          <font>Droid14</font>
          <textcolor>white</textcolor>
          <label>54006</label>
          <visible>!Container(50).HasFocus(8)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>792</posy>
          <font>Droid14</font>
          <textcolor>FF262728</textcolor>
          <label>54007</label>
          <visible>Container(50).HasFocus(9)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>792</posy>
          <font>Droid14</font>
          <textcolor>white</textcolor>
          <label>54007</label>
          <visible>!Container(50).HasFocus(9)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>874</posy>
          <font>Droid14</font>
          <textcolor>white</textcolor>
          <label>53998</label>
          <visible>!Container(50).HasFocus(11)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>874</posy>
          <font>Droid14</font>
          <textcolor>FF262728</textcolor>
          <label>53998</label>
          <visible>Container(50).HasFocus(11)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>956</posy>
          <font>Droid14</font>
          <textcolor>white</textcolor>
          <label>53998</label>
          <visible>!Container(50).HasFocus(10)</visible>
        </control>
        <control type="label">
          <posx>93</posx>
          <posy>956</posy>
          <font>Droid14</font>
          <textcolor>FF262728</textcolor>
          <label>53998</label>
          <visible>Container(50).HasFocus(10)</visible>
        </control>
      </control>
    </control>
    <include>dialogeffect1</include>
  </controls>
</window>